@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f6f6f6;
}

.home {
  background-color: #ffffff;
}

.coberturas {
  background-image: url('./images/background1.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  height: 1400px;
}

.coberturas-2 {
  background-image: url('./images/background2.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  height: 1300px;
}

.home {
  background-color: #f6f6f6;
}